@import "../../shared/helper";

.wave-ball {
  position: relative;
  & > img {
    position: absolute;
    left: 50%;
    right: 0;
    transform: translateX(-50%);


  }
  width: 50%;
  background:  no-repeat;
  background-size: cover;
  .canvas {
    width: 100%;
    height: 100%;
  }
}