@import "../shared/helper";
ul,
li {
	list-style: none;
}
%legend {
	height: px(40);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-right: px(10);
	> span {
		display: inline-block;
		width: px(16);
		height: px(10);
		border-radius: px(2);
		margin: 0 px(10);
	}
}

.home {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: center center no-repeat;
	background-size: cover;
	color: white;
	font-size: px(16);
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	> header {
		height: px(99);
		background-size: cover;
		width: px(2420);
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size: px(60);
		margin: 0 auto;
		position: relative;
		left: 0;
		right: 0;
		> .now {
			position: absolute;
			top: px(10);
			left: px(300);
			// transform: translateX();
			font-size: px(20);
			display: flex;
			align-items: end;
			> span {
				font-size: px(40);
			}
			> div {
				margin-left: 0.5em;
				display: flex;
				flex-direction: column;
			}
		}
		.header-time {
			position: absolute;
			top: px(10);
			font-size: px(35);
			right: px(300);
			color: #00bef8;
		}
		.header-logout {
			top: px(10);
			font-size: px(20);
			position: absolute;
			padding: 2px 10px;
			right: px(50);
			border: 1px solid #0e325f;
		}
	}

	> main {
		width: px(2420);
		margin: 0 auto;
		padding-top: px(30);
		flex: 1;
		display: grid;
		grid-template:
			"box3 box4 box5" 755fr
			"box3 box4 box5" 363fr / 5fr 10fr 5fr;
		grid-column-gap: px(28);
		grid-row-gap: px(28);

		.chart-wrapper {
			height: px(300);
			display: flex;
			.chart {
				flex: 1;
			}
		}
		h2 {
			display: inline-block;
			margin-bottom: px(10);
			flex-shrink: 0;
			border: 1px solid #0a5299;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			font-size: px(22);
			line-height: px(24);
			padding: px(10) px(28);
			text-shadow: 0 0 px(3) white;
		}

		.section-top-height {
			height: px(800);
		}
		.section-bottom-height {
			height: px(400);
		}
		.switch-bar {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: px(30) px(20);
			> span {
				margin: 0 px(50);
			}

			font-size: px(30);
			> img {
				cursor: pointer;
				width: px(50);
			}
		}

		.legend {
			@extend %legend;
		}
		> section {
			text-align: center;
		}

		.bordered {
			border: 1px solid #00bef8;
			border-radius: 4px;
			position: relative;
			box-shadow: 0 0 2px 0 #0e325f, inset 0 0 2px 0 #0e325f;
			background: rgba(15, 17, 58, 0.6);
			&::before {
				pointer-events: none;
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				border-radius: 4px;
				box-shadow: 17px 0 0 -16px #0e325f, -17px 0 0 -16px #0e325f, 0 17px 0 -16px #0e325f, 0 -17px 0 -16px #0e325f,
					9px 0 0 -8px #0d4483, -9px 0 0 -8px #0d4483, 0 9px 0 -8px #0d4483, 0 -9px 0 -8px #0d4483;
			}
		}
		.bordered2 {
			border: 1px solid #00bef8;
			position: relative;
			box-shadow: 0 0 2px 0 #0e325f, inset 0 0 2px 0 #0e325f;
			background: #0f113a;
			&::before {
				pointer-events: none;
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				border-radius: 4px;
				box-shadow: 17px 0 0 -16px #0e325f, -17px 0 0 -16px #0e325f, 0 17px 0 -16px #0e325f, 0 -17px 0 -16px #0e325f,
					9px 0 0 -8px #0d4483, -9px 0 0 -8px #0d4483, 0 9px 0 -8px #0d4483, 0 -9px 0 -8px #0d4483;
			}
			> span {
				line-height: 2;
			}
		}

		> .section3 {
			grid-area: box3;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.section3-top,
			.section3-bottom {
				display: flex;
				flex-direction: column;
			}
			.box3-wrapper {
				display: flex;
				justify-content: space-around;
				& > li {
					padding: px(10) px(30);
					display: flex;
					align-items: center;
					flex-direction: column;
					justify-content: center;
				}
			}

			.section3-wrapper {
				display: flex;
				align-items: center;
				justify-content: space-around;
			}
		}
		> .section4 {
			grid-area: box4;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		> .section5 {
			grid-area: box5;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			& > .section5-top {
				display: flex;
				flex-direction: column;
				#charts-wrapper {
					& > div {
						width: 49.9%;
					}
				}
			}
		}
	}

	.战果,
	.作案手段 {
		padding: 0 px(24);
		> table {
			width: 100%;
			table-layout: fixed;
			margin-top: px(25);
			border-collapse: collapse;
			th,
			td {
				border: 1px solid #1a3671;
			}
			thead {
				th {
					height: px(70);
					box-shadow: inset 0 0 px(60) 0 #1f3d85;
				}
			}
			tbody {
				td {
					height: px(50);
					width: px(84);
					background: #1c2456;
				}
			}
		}
	}
}
